#labeling{
    display: center;
}
body{
    font-family: 'Times New Roman';
    color: #0a0742;
    background-color: #5DBCD2;
}

input{
    border: 2px solid white;
    background-color: #0a0742;
    color: white;
}

::placeholder { 
    color: #5DBCD2;
    opacity: 1 ;
}

button{
    background-color: #0a0742;

    -webkit-transition-duration: 0.4s; 
    transition-duration: 0.4s;

    border: 2px solid white;
    color: #5DBCD2;
    padding: 10px 24px;
    text-decoration: #5DBCD2;
    font-size: 16px;
    border-radius: 50%;
}

button:hover {
    background-color: white;
    color: #5DBCD2;
    border: 2px solid #0a0742;
}

#userForm{
    background-color: white;
    padding: 1rem;
}

main{
    display: flex;
    justify-content: space-around;
}

dl li{
    list-style: none;
    margin-top: 2rem;
}

dl:nth-of-type(even){
    background-color: white;
}
